.card {
  position: relative;
  width:100%;
  max-width: 419px;
  color: white;
  transition: 0.25s;
  padding: 2px;
  border-radius: 20px;

  box-sizing: border-box;
  background-origin: border-box;
  background-clip: content-box, border-box;
  height: 352px;


  @media screen and (max-width: 1330px) {
    max-width: 350px;
  }

  @media screen and (max-width: 1330px) {
    max-width: 328px;
  }

  &:hover {
    padding: 6px;
  }

  &-number {
    min-width: 48px;
    height: 48px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    padding: 2px;
    justify-content: center;

    background-origin: border-box;
    background-clip: content-box, border-box;

    font-size: 24px;
  }

  &-header {
    border-radius: 30px;
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 18px;
    transition: 0.25s;
  }

  &-text {
    position: relative;
    font-size: 20px;
    line-height: 120%;

    transition: 0.25s;

    height: max-content;
    z-index: 2;
  }

  &-image {
    position: absolute;
    bottom: -52px;
    left: 50%;
    transform: translate(-50%, 0px);
    transition: 0.25s;
  }

  &-arrow{
    position: absolute;
    top: 92px;
    right: -50px;
    z-index: 10;
    
    @media screen and (max-width: 1150px) {
      transform: rotate(90deg) scale(1, -1);
      right: -20px;
      bottom: -20px;
      top: auto;
    }
  }

  &:hover & {
    &-header {
      padding: 14px;
    }

    &-image {
      transform: translate(-50%, -4px);
    }
  }

  &--blue {
    background-image: linear-gradient(180deg, #6377E1 0%, #2920A5 100%),
    linear-gradient(180deg, rgb(150, 163, 235), rgb(72, 96, 223));

    &:hover {
      background-image: linear-gradient(180deg, #657EFF 0%, #2920A5 100%),
      linear-gradient(180deg, rgb(150, 163, 235), rgb(72, 96, 223));
    }
  }

  &--blue &-number {
    background-image: linear-gradient(180deg, #2920A5 0%, #6377E1 100%),
    linear-gradient(180deg, #2920A5 0%, rgba(255, 255, 255, 0.32) 100%);
  }

  &--purple {
    background-image: linear-gradient(180deg, #E163E1 0%, #741595 100%),
    linear-gradient(180deg, rgba(235, 150, 235) 0%, rgba(179, 71, 224) 100%);

    &:hover {
      background-image: linear-gradient(180deg, #FC69FC 0%, #741595 100%),
      linear-gradient(180deg, rgba(254, 154, 254) 0%, rgba(179, 71, 224) 100%);
    }
  }

  &--purple &-number {
    background-image: linear-gradient(180deg, #741595 0%, #E163E1 100%),
    linear-gradient(180deg, #741595 0%, rgba(255, 255, 255, 0.32) 100%);
  }
  &--green {
    background-image: linear-gradient(180deg, #55CE00 0%, #014D1D 100%),
    linear-gradient(180deg, rgba(140, 222, 83) 0%, rgba(58,131,8) 100%);

    &:hover {
      background-image: linear-gradient(180deg, #5DE101 0%, #014D1D 100%),
      linear-gradient(180deg, rgba(136, 235, 83) 0%, rgba(58,131,8) 100%);
    }
  }

  &--green &-number {
    background-image: linear-gradient(180deg, #014D1D 0%, #5DE101 100%),
    linear-gradient(180deg, #014D1D 0%, rgba(255, 255, 255, 0.32) 100%);
  }



}