$button-linear: linear-gradient(180deg, #5DC416 0%, #367B05 100%);
$button-hover-linear: linear-gradient(180deg, #58BD11 0%, #45940E 100%);
$button-active-linear: linear-gradient(360deg, #51A814 0%, #368300 100%);

$green: rgba(149, 255, 74, 1);
$shadow-green: rgba(91, 192, 20, 0.24);